input[type=text], input[type=date], select {
  width: 100%;
  padding: 12px 20px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

label {
  font-size: 15px;
}

.form-group {
  margin-bottom: 9px;
}

.formdiv {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 30%;
  margin-left: 15px;
  margin-top: 15px;
}


.btn-group button {
  background-color: #4CAF50;
  border: 1px solid green;
  color: white;
  padding: 7px 15px;
  cursor: pointer;
  border-radius: 3px;
  float: left;
  margin-left: 5px;
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:hover {
  background-color: #3e8e41;
}

